@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

nav {
    padding: 20px 0 40px 0;
    background: #F8F8F8;
    width: 84vw;
    margin-bottom: 20px;
}

nav .navbar-left {
    margin:0px;
    padding:0px;
    float: left;
}

nav .navbar-right {
    float: right;
}

nav ul li {
    display: inline;
    padding-left: 20px;
}

nav ul li a {
    color: #777777;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

.top-menu-container {
    padding: 0px 15px 0px 0px;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart-menu {
    float: right;
    background: white;
    border-radius: 3px;
    padding: 20px;
    border: 1px solid #333;
    position: relative;
    z-index: 2;
    width: 55vh;
    margin-top: -20px;
    display: none;
}

.shopping-cart-menu.active {
    display: block;
}

.shopping-cart-menu .shopping-cart-menu-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart-menu .shopping-cart-menu-header .shopping-cart-menu-total {
    float: right;
}

.shopping-cart-menu .shopping-cart-menu-items {
    list-style-type: none !important;
    margin: 0px;
    padding-left: 0px;
    padding-top: 20px;
}

.shopping-cart-menu .shopping-cart-menu-items li {
    margin-bottom: 18px;
    border-bottom: 1px dotted #ccc;
}

.shopping-cart-menu .shopping-cart-menu-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart-menu .shopping-cart-menu-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart-menu .shopping-cart-menu-items .item-price {
    color: #6394F8;
    margin-right: 8px;
    display: block;
}

.shopping-cart-menu .shopping-cart-menu-items .item-quantity {
    color: #ABB0BE;
}

.shopping-cart-menu:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}